@import "@angular/cdk/overlay-prebuilt.css";
@import "../../acds/src/lib/theme/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  font-family: var(--acds-font-body);
  background: var(--acds-color-bg);
  color: var(--acds-color-fg);
}
