@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Space+Grotesk:wght@500;600&display=swap");
@import "@angular/cdk/overlay-prebuilt.css";

@import "../../acds/src/lib/theme/theme.css";

html,
body {
  height: 100%;
}

body {
  font-family: var(--acds-font-body);
  background: var(--acds-color-bg);
  color: var(--acds-color-fg);
}
